@font-face {
    font-family: 'Cheque-Regular';
    src: url('../fonts/Cheque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cheque-Black';
    src: url('../fonts/Cheque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tanglewood Tales NF';
    src: url('../fonts/TanglewoodTalesNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*-----Enter Page Styles------*/
*{
  margin: 0;
  padding: 0;
}
html{
  min-height: 800px;
  background-color: #fddf87;
  margin-bottom: -50px;
}

#enter {
  background-color: #000;
    margin-bottom: -10px;
}

#enter header{
  background-image: url(../img/background1.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
}


#enter h1 {
    color: #000;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: -2px;
}

/*-----Home Page Styles------*/

.navbar {
    background-color:transparent;
    height: 150px;
    width: 100%;
    z-index: 100;
    position: relative;
    margin-top: 0px;

}

.top{
  margin-right: 50px;
      display: block;
    color: #000;
    font-size: 1.5rem;
    font-family: 'Tanglewood Tales NF', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.top:hover{
  color: rgba(0,0,0,.7);
}

h3{
    font-size: 2.5rem;
    font-family: 'Tanglewood Tales NF' , sans-serif;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Tanglewood Tales NF' , sans-serif;
    font-weight: 400;
    color: #000;
}

.h2{
    font-size: 2.5rem;
    font-family: 'Tanglewood Tales NF' , sans-serif;
    font-weight: 400;
    color: #000;
    margin-top: 40px;
    margin-bottom: 20px;

}

h1.display-3{
  font-family:'Cheque-Regular', sans-serif;
  line-height: 40px;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-style: bold;
  color: #000;
  margin-bottom: 20px;

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #000;
}

p{
  font-family: 'Tanglewood Tales NF', sans-serif;
}

p.modal-text {
    font-weight: 400;
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Tanglewood Tales NF', sans-serif;
}

p.lead{
  font-weight:400;
  font-size: 2rem;
  color: #000;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: lowercase;
}

 #home-content header{
  background-image: url(../img/backgroundMain.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 800px;
  margin:0;
  border-radius: 0;
  position: absolute;
  top:0;
  left:0;
}


.logo {
    width: 350px;
    height: 200px;
    margin-top: -20px;
}

.fa{
 color: #000;
 margin-right: 10px;
  margin-left: 10px;
}

.jumbotron {
    background: transparent;
    width: 100%;
    border-radius: 0;
    padding-top: 0px;
    margin-top: 200px;
    text-align: center;
    max-height: 500px;
}

span.two{
  font-family: 'Tanglewood Tales NF', sans-serif;
  font-size:1.5em;
}

.btn-primary {
    color: #000;
    border-color: #000;
    border-width: 3px;
    background-color: transparent;
    width: 200px;
    padding: 5px;
    font-size: 25px;
    font-family: 'Tanglewood Tales NF', sans-serif;
}

.btn-primary:hover{
    background-color: transparent;
    border-color: #000;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,.5);
    box-shadow: 0 0 0 2px rgba(0,0,0,.5);
}

.modal-body{
  background-image: url(../img/modalBackground.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.modal-header{
  background-image: url(../img/modalHeader.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000;
}
.tab-pane{
  margin-top: 20px;
}
 .modal-xl {
   width: 90%;
   max-width:1200px;
  }

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #000;
    font-family: 'Cheque-Black', sans-serif;
}

.modal-contact{
  margin-top: 30px;
}

 .nav-tabs .nav-link.active {
    color: #000;
    background-color: transparent;
    border-color: #000;
}

.nav-tabs {
    border-bottom: 1px solid #000;
}

.nav-link2{
    border-bottom: 1px solid #000;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'Tanglewood Tales NF', sans-serif;
    font-weight: 400;
    color: #000;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: #DED1A6;
    border-color: #000;
}

.nav-tabs .nav-link:hover{
    border: 1px solid #000;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #DED1A6;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

p.number{
  font-family: 'Tanglewood Tales NF', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000;
  line-height: 40px;
}


footer {
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.copy {
    color: rgba(0,0,0,1);
    font-family: 'Tanglewood Tales NF', sans-serif;
    font-size: 1rem!important;
}

ol li{
  display: inline-block;
  list-style-type: none;
}

/*----professionals Styles----*/

p.number {
    margin: 0!important;
    padding: 0;
    font-size:1.2rem!important;
}
#professionals header{
  background-image: url(../img/backgroundMain.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 1400px;
  margin:0;
  border-radius: 0;
  position: absolute;
  top:0;
  left:0;
}

#professionals .jumbotron{
    background: transparent;
    width: 100%;
    border-radius: 0;
    padding-top: 0px;
    margin-top: 150px;
    text-align: center;
    max-height: auto;
}

#professionals p.lead2{
  font-weight:300;
  font-size: 1.8rem;
  color: #000;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
    font-family: 'Tanglewood Tales NF', sans-serif;
    margin-bottom: 30px;
}

/*--Faqs page Styles*/
h1.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
    font-family: 'Tanglewood Tales NF', sans-serif;
    margin-bottom: 30px;
}

#spacer {
    height: 650px;
    background-color: #FFF6D8;
}

#faqs-page header{
  background-image: url(../img/backgroundMain.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 830px;
  margin:0;
  border-radius: 0;
  position: absolute;
  top:0;
  left:0;
  background-attachment: fixed;
}

#faqs-page h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    font-size: 2.2rem;
}

#faqs-page p{
  font-family: 'Tanglewood Tales NF', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#faqs-page .jumbotron{
    background: transparent;
    width: 100%;
    border-radius: 0;
    padding-top: 0px;
    margin-top: 150px;
    text-align: center;
}

section#faqs-content{
  background-image: url('../img/faqsBackground.png');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 9890px;
}

#faqs-page span{
  font-family: 'Cheque-Black', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  line-height: 40px;
}

.footer-nav ul li{
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.bottom{
    display: block;
    color: #000;
    font-size: 1rem;
    font-family: 'Tanglewood Tales NF', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.bottom:hover{
  color: rgba(0,0,0,.7);
}

/*--Contact Styles--*/
#contact header{
  background-image: url(../img/backgroundMain.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 1150px;
  margin:0;
  border-radius: 0;
  position: absolute;
  top:0;
  left:0;
}


#contact p.lead2{
  font-weight:300;
  font-size: 1.8rem;
  color: #000;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}
