

@font-face {
    font-family: 'Canter Outline';
    src: url('../fonts/CanterOutline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Canter';
    src: url('../fonts/CanterBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Canter Bold 3D';
    src: url('../fonts/CanterBold3D.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



/*-----Enter Page Styles------*/
*{
  margin: 0;
  padding: 0;
}


#enter {
  background-color: #000;
}

#enter header{
  width: 100%;
  position: relative;
  height: 800px;
}

.enter{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#enter h1{
    color: #000;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'CanterOutline',sans-serif;
    font-weight: 900;
    text-align: center;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 600px;
    padding-left: 600px;
    padding-right: 20px;
}


#enter a{
  color: #000;

}
#enter a:hover{
  color: rgba(0,0,0,0.7);
  text-decoration: none;
}


video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
}

.fade-in .box{
  background-image: url(../img/background.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 800px;
  z-index: 100;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

/*-----Home Page Styles------*/

#sectionTwo{
  width: 100%;
  background-image: url(../img/sectionTwo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-top: 50px;
}

.navbar {
    background-image: url(../img/newBackground.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 100;
    height: 150px;
    padding: 0;
    background-color: #78bbbb;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.left{
  margin-left: 50px;
}
.right{
  margin-right: 50px;
}
.top {
    display: block;
    color: #f5ebd7;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Canter', sans-serif;
    font-weight: bold;
    font-style: normal;
}
.top:hover{
  color: rgba(0,0,0,.7);
}

.logo {
    z-index: 100;
    margin-top: 60px;
}

.ribbon{
 background-image: url(../img/ribbon.svg);
 background-repeat: no-repeat;
 width: 100%;
 height: 105px;
 background-size: cover;
}

h3{
    font-size: 2.5rem;
    font-family: 'Tanglewood Tales NF' , sans-serif;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Canter' , sans-serif;
    color: #000;
    font-weight: bold;
    font-style: normal;
}



h1.display-1 {
    color: #fef0ce;
    letter-spacing: .05em;
    font-size: 10rem;
    font-family: 'Canter Outline';
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
    background-image: url(../img/headerOne.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 150px;
}

h2.display-2 {
    background-image: url(../img/display2.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: #fef0ce;
    letter-spacing: .05em;
    font-size: 5rem;
    font-family: 'Canter Outline';
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 30px;
}

h2.display-3 {
    background-image: url(../img/display2.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: #333;
    letter-spacing: .05em;
    font-size: 5rem;
    font-family: 'Canter Outline';
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 30px;
}

h2.modalHeader{
  font-size: 3.5rem;
  font-family: 'CanterBold',sans-serif;
  letter-spacing: .05em;
  font-weight: 400;
  font-style: bold;
  color: #333;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

p.modal-text {
    font-weight: 400;
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}

p.lead {
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color: #333;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Canter', sans-serif;
}



 #home-content header {
    background-image: url(../img/headerBG.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 1300px;
    margin: 0;
    border-radius: 0;
}

hr.top-dashed {
    margin: 0;
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 1px dashed rgba(255,255,255,0.25);
    position: absolute;
    top: 180px;
    background-color: transparent;
    width: 100%;
    height: 0;
    margin-bottom: 10px;
}

hr.bottom-dashed {
    margin: 0;
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 1px dashed rgba(255,255,255,0.25);
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    width: 100%;
    height: 0;
    padding: 0;
    z-index: -1;
}

.fa{
 color: #000;
 margin-right: 10px;
  margin-left: 10px;
}

.jumbotron {
    background: transparent;
    width: 100%;
    border-radius: 0;
    padding-top: 0px;
    text-align: center;
    max-height: 500px;
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 500px;
}
.carousel-inner, .carousel, .carousel-item, .fill {
    height: 500px;
    min-height: 400px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border: 1px dashed #333;
    margin-bottom: 20px;
}

.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: -90px!important;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid #00a199; 
    
}
.carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;
    
}

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 0px;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 30px;
    height: 60px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
    padding: 30px;
}


span.two{
  font-family: 'Tanglewood Tales NF', sans-serif;
  font-size:1.5em;
}

.btn-primary {
    color: #333;
    width: 360px;
    padding: 5px;
    font-size: 2.8rem;
    background-color: transparent;
    border:none;
    background-image: url(../img/ticket.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    font-family: 'CanterBold',sans-serif;
  
}


.btn-primary:hover{
    background-color: transparent;
    border-color: #000;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,.5);
    box-shadow: 0 0 0 2px rgba(0,0,0,.5);
}

.modal-body{
  background-image: url(../img/modalBG.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding:10px;
}

.modal-header{
  background-image: url(../img/modalHeader.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  border:transparent;
}
.tab-pane{
  margin-top: 20px;
}
 .modal-xl {
   width: 90%;
   max-width:1200px;
  }

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 5rem;
    font-family: 'CanterOutline', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
    letter-spacing: .05em;
}

.modal-contact{
  margin-top: 30px;
}

 .nav-tabs .nav-link.active {
    color: #000;
    background-color: transparent;
    border-color: #000;
}

.nav-tabs {
    border-bottom: 1px solid #000;
}

.nav-link2{
    border-bottom: 1px solid #000;
    background-color: transparent;
    font-size: 1.8rem;
    font-family: 'CanterBold', sans-serif;
    font-weight: 400;
    color: #333;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: #DED1A6;
    border-color: #000;
    background-image: url(../img/modalTab.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.nav-tabs .nav-link:hover{
    border: 1px solid #000;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #DED1A6;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

/*------------------------------- Section Two Styles ------------------------------*/
#sectionTwo{
    background-image: url(../img/sectionTwo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 900px;
  }

p.number{
  font-family: 'Tanglewood Tales NF', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000;
  line-height: 40px;
}


footer {
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.copy {
    color: rgba(0,0,0,1);
    font-family: 'Tanglewood Tales NF', sans-serif;
    font-size: 1rem!important;
}

ol li{
  display: inline-block;
  list-style-type: none;
}

/*----professionals Styles----*/

p.number {
    margin: 0!important;
    padding: 0;
    font-size:1.2rem!important;
}
#professionals header{
  background-image: url(../img/backgroundMain.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 1400px;
  margin:0;
  border-radius: 0;
  position: absolute;
  top:0;
  left:0;
}

#professionals .jumbotron{
    background: transparent;
    width: 100%;
    border-radius: 0;
    padding-top: 0px;
    margin-top: 150px;
    text-align: center;
    max-height: auto;
}

#professionals p.lead2{
  font-weight:300;
  font-size: 1.8rem;
  color: #000;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
    font-family: 'Tanglewood Tales NF', sans-serif;
    margin-bottom: 30px;
}

/*------------Faqs page Styles----------------*/

#faqs{
  background-image: url(../img/faqs.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

#faqs, h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    font-size: 3rem;
    font-family: 'CanterBold', sans-serif;
    font-weight: 400;
}

#faqs, p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}



#faqs span{
  font-family: 'CanterBold', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  line-height: 40px;
}

/*------------Join Our Team Styles----------------*/

#sectionThree{
  background-image: url(../img/sectionThree.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 50px;
}



h2.display-4{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 4rem;
    font-family: 'CanterBold', sans-serif;
    font-weight: 400;
}

/*----------Footer Styles-----*/
.footer-nav ul li{
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.bottom{
    display: block;
    color: #000;
    font-size: 1rem;
    font-family: 'Tanglewood Tales NF', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.bottom:hover{
  color: rgba(0,0,0,.7);
}

/*--Contact Styles--*/
#contact header{
  background-image: url(../img/backgroundMain.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 1150px;
  margin:0;
  border-radius: 0;
  position: absolute;
  top:0;
  left:0;
}


#contact p.lead2{
  font-weight:300;
  font-size: 1.8rem;
  color: #000;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}



/*-----------Responsive styles----------*/


/*Responsive Medium Styles*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  {

.navbar-toggler-icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.7);
    margin-top: 20px;
    color: #fff;
}

}

/*Responsive Small-md Styles*/
@media only screen 
and (min-width : 375px) 
and (max-width : 667px) { 
.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
}

/*Responsive Small Styles*/
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) 
and (orientation : portrait) { 

}

/*Responsive XSmall Styles*/
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {


}
